.nav {
    border-bottom: 1px solid #828282;
    margin-bottom: 40px;

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-top: 33px;
        margin-bottom: 32px;
        padding-left: 0;
    }

    &__link {
        text-decoration: none;
        color: #828282;
        font-weight: 700;

        &:hover,
        &active {
            color: #070707;
        }
    }
}